.img-alex{
    height: 882px;
    width: 39%;
}

.p_classic{
    font-family: dosis_light;
    font-size: 18px;
}

.p_bold{
    font-family: dosis_bold;
    font-size: 18px;
    margin-left: 5px;
}

h1{
    font-family: dosis_book;
    margin-bottom: 55px !important;
    font-size: 35px;
}

.p_portrait{
    margin-bottom: 26px !important;
}

.input_margin{
    margin-bottom: 8%;
}

.input_style{
    background-color: white !important;
    color: #9E9EA0 !important;
    border: solid 2px !important;
}

textarea{
    height: 141px !important;
}

.form_portrait{
    width: 86%;
}
.icon_portrait{
    width: 19px;
    margin-right: 10px;
    margin-bottom: 35%;
    margin-top: 15%;
}

.margin-left_portrait{
    margin-left: 8.5% !important;
}

.margin-left_portrait_mobile{
    margin-left: 13% !important;
}

.margin_top_portrait{
    padding-top: 1.6%;
}

@media only screen and (max-width: 1200px) {
    .margin_top_form{
        margin-top: 100px;
    }
}

.image_portrait_right{
    height: 875px;
    width: 50%;
    position: absolute;
    z-index: 1;
    transition: 1s;
    margin-left: 50%;
    background-position: top;
    background-size: cover;
}

.image_portrait_left{
    background-position: top;
    background-size: cover;
    height: 875px;
    width: 50%;
    position: absolute;
    z-index: 1;
    transition: 1s;
}

.image_alex{
    width: 100%;
}

.margin_top_white_description{
    margin-top: 100px;
}

.margin_white_description_mobile{
    margin-top: 50px;
}

.margin_top_white_form_mobile{
    margin-top: 115px;
}

.margin_left_form{
    margin-left: 14.5% !important;
}

.border-red{
    border-color: #DA5850 !important;
}

.icon_back{
    margin-right: 71px;
    margin-top: 62Px;
    width: 37px;
    outline: none !important;
    position: relative;
}

.front{
    z-index: 2000;
}

.alert{
    margin-right: 22px;
    margin-top: 36px;
}

.margin_bot_form{
 margin-bottom: 20%;
}

.info-custom{
    color: white !important;
    background-color: rgb(29, 129, 197) !important;
    border-color: transparent !important;
}

.mandatory_champs{
    margin-right: 15%;
    margin-top: -18px;
}