.img{
    height: 100vh;
    width: auto;
}

@media only screen and  (min-width: 561px) {
    .carousel-inner {
        max-width: 100%;
        max-height: 100vh;
    }
}

@media only screen and  (max-width: 560px) {
    .carousel-inner {
        max-height: 50vh;
    }
}


.text_carrousel{
    display: none;
}

.text_hover:hover + .text_carrousel, .text_carrousel:hover {
    display: inline-block;

}

p{
    font-family: 'dosis_extraLight';
}

.absolute_name{
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}

.absolute_text{
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}

.absolute_button{
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}

.name{
    color: white;
}

.text_description{
    color:white;
}

@media only screen and (max-width: 1000px) {
    .absolute_name{
        margin-top: -37px;
    }
    
    .absolute_button{
        margin-top: 54px;
    }

    .name{
        font-size: 29px;
    }
    
    .text_description{
        font-size: 19px;
    }
}

@media only screen and (min-width: 1001px) {
    .name{
        font-size: 45px;
    }
    
    .text_description{
        font-size: 27px;
    }

    .absolute_name{
        margin-top: -57px;
    }
    
    .absolute_button{
        margin-top: 62px;
    }
}

@media only screen and (max-width: 560px){
    .carousel-inner {
    max-height: 100vh;
    }
}

.carrousel-img{
    background-position: center;
    background-size: cover;
}

.text_description{
    text-shadow: 1px 1px 2px black;
}

.name{
    text-shadow: 1px 1px 1px black;
}

.button_view_mobile{
    margin-top: 100%;
}