.special_button{
    position: relative;
    background-color: transparent;
    height: 60px;
    line-height: 60px;
    font-size: 19px;
    font-family: dosis_light;
    border: none;
    padding: 0 15px;
    width: 200px;
}

.special_button::before,
.special_button::after{
    position: absolute;
    content: '';
    width: 33px;
    height: 20px;
    transition: 0.5s;
}

.special_button::before{
    left:0;
    top:0;
    border-left:3px solid black;
    border-top:3px solid black;
}
.special_button::after{
    right:0;
    bottom:0;
    border-right:3px solid black;
    border-bottom:3px solid black;
}

.special_button:hover::after,
.special_button:hover::before
{
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.special_button:active::after,
.special_button:active::before
{
    transition: 0.5s;
    width: 33px;
    height: 20px;
}

.special_button{
    outline: none !important;
}