.white_special_button{
    position: relative;
    background-color: transparent;
    height: 60px;
    line-height: 60px;
    font-size: 19px;
    font-family: dosis_light;
    border: none;
    padding: 0 15px;
    width: 200px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.white_special_button::before,
.white_special_button::after{
    position: absolute;
    content: '';
    width: 33px;
    height: 20px;
    transition: 0.5s;
}

.white_special_button::before{
    left:0;
    top:0;
    border-left:3px solid white;
    border-top:3px solid white;
}
.white_special_button::after{
    right:0;
    bottom:0;
    border-right:3px solid white;
    border-bottom:3px solid white;
}

.white_special_button:hover::after,
.white_special_button:hover::before
{
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.white_special_button{
    outline: none !important;
}

.white_special_button:-webkit-transition::after,
.white_special_button:-webkit-transition:before
{
    transform: 0.5s;
    width: 33px;
    height: 20px;
}