.bp3-drawer{
    background-color: rgba(0,0,0,0.4) !important;
    color: white;
}

.bp3-navbar.bp3-fixed-top {
    height: 268px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-color: rgba(0,0,0,0);
    border: none;
}

.bp3-navbar-scrolled{
    background-color: black !important;
}

.menu_icon_toggle_open{
    width: 34px;
    margin-left: 20%;
    margin-top: 45px;
}

.menu_icon_close{
    margin-top: 48px;
    width: 21px;
    height: 25px;
    margin-right: 45px;
}

.navbar_item_title{
    font-size: 34px;
    font-family: dosis_extraLight;
    list-style:none;
    cursor: pointer;
    margin-top: 16%;
}

@media only screen and (min-width: 361px) {
    .navbar_item_title{
        font-size: 34px;
        margin-left: 20%;
    }

    .instagram-icon{
        margin-right: 30px !important;
    }
}

@media only screen and (max-width: 375px) {
    .navbar_item_title{
        font-size: 28px;
        margin-left: 7%;
    }
}

.bp3-overlay-backdrop {
    background-color: transparent !important;
    width: 50%;
}

.bp3-navbar {
    box-shadow:none !important;
}

.line{
    display: flex;
    flex-wrap: wrap;
}
.icon-rsx{
    width: 22px;
    margin-top:21%;
}

.bp3-navbar-group.bp3-align-left {
    width: 100%;
}

.facebook-icon{
    margin-right:17px;
}

@media only screen and (min-width: 1500px) {
    .bp3-drawer.bp3-position-left {
        width: 27% !important;
    }
}

@media only screen and  (min-width: 1300px) and (max-width: 1499px) {
    .bp3-drawer.bp3-position-left {
        width: 32% !important;
    }
}

@media only screen and  (min-width: 1000px) and (max-width: 1299px) {
    .bp3-drawer.bp3-position-left {
        width: 37% !important;
    }
}

@media only screen and  (max-width: 700px) {
    .bp3-drawer.bp3-position-left {
        width: 75% !important;
    }
}

@media only screen and (min-width: 561px) and (max-width: 699px){
    .multilangue_collapsed_view_less_than_1000{
        margin-top: -41px;
        margin-right: 21px;
    }
}

@media only screen and (min-width: 700px){
    .multilangue_collapsed_view_less_than_1000{
        margin-top: -35px;
        margin-right: 34px;
    }
}

@media only screen and  (min-width: 561px) {
    .menu_icon_tooggle_close {
        margin-left: 39%;
        margin-top: 127px;
        margin-bottom: 16px;
    }
}

@media only screen and  (max-width: 575px) {
    .menu_icon_tooggle_close {
        margin-left: 29%;
        margin-top: 91px;
        margin-bottom: 16px;
    }
}

.bp3-overlay-container{
    width: 45%;
} 

.img-logo{
    width: 128px;
    height: 139px;
    margin-top: 78px;
}

.img-logo_mobile {
    width: 115px;
    height: 124px;
    margin-top: 50px;
    margin-right: 10px;
}

.navbar_scrolled {
    background-color: black !important;
    background-image: none !important;
}

.navbar_scrolled_mobile{
    height: 86px !important;
}

.navbar_scrolled_desktop{
    height: 109px !important;
}

.bp3-navbar.bp3-fixed-top {
    z-index: 20;
}

.icon-placement{
    position: absolute !important;
    bottom: 0;
    margin-bottom: 10%;
}

.name_margin_top{
    margin-top: 66px;
}

.name_navbar{
    margin-bottom: 0px;
    margin-right: 10px;
}

.bp3-navbar {
    padding: 0px !important;
}

.no_margin{
    margin:0px !important;
}