@font-face{
    font-family: 'dosis_extraLight';
    src: url('./utils/police/Dosis-ExtraLight.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_bold';
    src: url('./utils/police/Dosis-Bold.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_book';
    src: url('./utils/police/Dosis-Book.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_extraBold';
    src: url('./utils/police/Dosis-ExtraBold.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_light';
    src: url('./utils/police/Dosis-Light.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_medium';
    src: url('./utils/police/Dosis-Medium.ttf') format('truetype')
}

@font-face{
    font-family: 'dosis_semiBold';
    src: url('./utils/police/Dosis-SemiBold.ttf') format('truetype')
}

.custom_row{
    display: flex;
    flex-wrap: wrap;
}

.custom_container{
    max-width: none !important;
}

body.bp3-overlay-open {
    overflow: unset !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.text-align{
    text-align: center;
}

.position_relative{
    position: relative;
}

.text-align-right{
    text-align: right;
}

.no_padding{
    padding: 0px !important;
}